/*  #BASE CSS (Initial Setup) 
----------------------------------------
#BASE CONTENT
     #TYPOGRAPHY
          #BODY
          #HEADINGS
          #PARAGRAPHS
          #LINKS
          #HELPERS
    #MEDIA
         #IMAGES
    #COMPONENTS
         #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #CONTAINER
        #MEDIAQUERIES
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
            #ARTICLE
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)

--------------------------------- */


/*  TYPOGRAPHY */

body {
    font-size: 100%;
    /* 16px */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: rgba(12, 12, 12, 1);
    color: rgba(255, 255, 255, 0.8);
    background-image: url(../img/nightbackgroundvectorfront.gif), url(../img/nightbackgroundvectorback.gif);
    background-repeat: no-repeat;
    background-position: top, top;
    display: block;
    /* background-size: contain; */
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}


/*  HEADINGS */


/*  
Based on Traditional Typographic Scale 
48, 36, 24, 21, 18, 16
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0;
}

h1 {
    font-size: 3em;
    /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25em;
    /* 36px */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    /* 24px */
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em;
    /* 21px */
    line-height: 1.3;
}

h5 {
    font-size: 1.125em;
    /* 18px */
    line-height: 1.4;
}

h6 {
    font-size: 1em;
    /* 16px */
    line-height: 1.5;
}


/* PARAGRAPHS */


/* p {
    margin: .5em 0;
    max-width: 40em;
    text-align: justify;
} */


/* LINKS */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* BLOCK QUOTES */

blockquote {
    font-size: 1.142em;
    margin: 1.5em 0;
    padding: 1.5em;
    border-top: 0px solid white;
    border-bottom: 0px solid white;
}

blockquote cite {
    display: block;
    opacity: 0.8;
    font-size: 0.875em;
}

blockquote cite:before {
    content: "\2014";
    /* GLYPHS */
    margin-right: 0.25em;
}


/* HELPER CLASSES */

.text-centered {
    text-align: center;
}

.full-width {
    max-width: none;
}

.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


/* RESPONSIVE IMAGES */

img {
    max-width: 100%;
    height: auto;
}


/* BUTTONS */

button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 1em;
    opacity: 0;
    margin-top: 0.7em;
    transition: 300ms ease;
}

button:hover {
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    transition: 300ms ease;
    opacity: 1;
}


/*  BASE LAYOUT */


/*  SIMPLE RESET */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/*  CONTAINER */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
    /* text-align: justify; */
}


/*  MEDIA QUERIES */

@media (min-width: 768px) {
    /*  TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {
    body {
        font-size: 100%;
        /* 16px */
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%;
        /* 18px */
    }
    .container {
        max-width: 1200px;
    }
}


/*  FOR DEMO PURPOSES */

body.demo {
    padding-top: 2em;
}

body.demo::before {
    content: "Phones and Stuff (Less Than 768px)";
    background-color: pink;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5em;
}

@media (min-width: 768px) {
    body.demo::before {
        background-color: lightblue;
        content: "Tablets or Whatever (768px-1050px)";
    }
}

@media (min-width: 1050px) {
    body.demo::before {
        background-color: lightgreen;
        content: "Regular/Notebook Screens (1050px-1250px)";
    }
}

@media (min-width: 1250px) {
    body.demo::before {
        background-color: lightsalmon;
        content: "Big Frickin' Screens (1250px and Up)";
    }
}


/*  SEMANTIC GRID SYSTEM */

.row>.column {
    margin-bottom: 4%;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }
    .row.v-centered {
        align-items: center;
    }
    .row>.column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }
    .row>.column.one-half {
        max-width: 46%;
    }
    .row>.column.one-third {
        max-width: 29.333%;
    }
    .row>.column.two-thirds {
        max-width: 62.666%;
    }
    .row>.column.one-fourth {
        max-width: 21%;
    }
    .row>.column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}


/*  FOR DEMO PURPOSES GRID SYSTEM */

.demo .column {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1em;
    text-align: center;
}


/* SITE STRUCTURE */


/*  SITE HEADER */

.site-header {
    padding: 0.5em 0;
    background-color: transparent;
    position: relative;
}


/*  ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */

@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
    }
}


/*  STYLING FOR BOTH HEADER AND FOOTER */

audio {
    display: none;
}

.site-header a,
.site-footer a {
    color: rgba(255, 255, 255, 0.8);
    padding: 0;
    transition: 300ms ease;
}

.site-footer a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transform: translateY(-0.1em);
}

i {
    opacity: 0.9;
}


/*  LOGO AREA */

@keyframes translate {
    from {
        transform: translateY(-80px);
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 80%;
    }
}

.site-id h1,
button {
    animation: translate 2.5s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.site-id h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    opacity: 0;
}

.site-id h1 img {
    /* background: red; */
    width: 100px;
    margin-top: 0.8em;
}


/*  SITE NAV */

.site-nav .menu-button {
    display: none;
    color: gray;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    padding: 1em;
    display: block;
}


/*  STARS */

li {
    z-index: 1;
}

#star-about {
    position: absolute;
    top: 250%;
    left: 10%;
}

#star-performance {
    position: absolute;
    top: 650%;
    left: 15%;
}

#star-media {
    position: absolute;
    top: 500%;
    left: 35%;
}

#star-merch {
    position: absolute;
    top: 700%;
    left: 70%;
}

#star-blog {
    position: absolute;
    top: 300%;
    left: 55%;
}

#star-social {
    position: absolute;
    top: 400%;
    left: 80%;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px 0px rgba(169, 83, 168, 1);
    }
    to {
        box-shadow: 0 0 10px 15px rgba(41, 171, 226, 0.5);
    }
}

.site-header li a {
    text-decoration: none;
}

.star {
    padding: 2em;
}

.star div {
    animation: glow 3s infinite alternate;
    height: 5px;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid transparent;
    border-radius: 50%;
    transition: 500ms ease;
}

.star:hover div {
    transform: scale(3);
    transition: 500ms ease;
}

.star span {
    display: none;
    position: absolute;
    top: -0.66em;
    left: 1em;
}

.star:hover span {
    display: block;
    font-size: 8px;
    font-family: le-monde-livre-std, serif;
    font-weight: 300;
    font-style: normal;
}

.star .star-about {
    animation-delay: 0;
}

.star .star-performance {
    animation-delay: 3s;
}

.star .star-media {
    animation-delay: 5s;
}

.star .star-merch {
    animation-delay: 1s;
}

.star .star-blog {
    animation-delay: 2s;
}

.star .star-social {
    animation-delay: 4s;
}

@media (max-width: 767px) {
    #star-about {
        top: 150%;
    }
    #star-performance {
        top: 250%;
        left: 20%;
    }
    #star-media {
        top: 155%;
        left: 40%;
    }
    #star-merch {
        top: 180%;
        left: 65%;
    }
    #star-blog {
        top: 80%;
    }
    #star-social {
        top: 250%;
    }
    .hero h1 {
        margin: auto;
        line-height: auto;
    }
    .site-header h1 {
        max-width: 50%;
    }
    button {
        font-size: 0.5em;
        margin-top: 1.5em;
    }
    .star:hover span {
        display: none;
    }
}


/*  SITE MAIN */


/*  SITE FOOTER */

.hero-bottom {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
    opacity: 0.8;
}

.site-footer a {
    margin-top: 0em;
    margin-bottom: 5em;
    padding: 0em 0.1em;
    font-size: 3em;
}


/*  SECTIONS */

section {
    padding: 5em 0;
    position: relative;
}


/*  HERO */

.hero {
    padding: 25em 4%;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
}

@keyframes transform {
    from {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(-150px);
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.hero h1 {
    font-family: le-monde-livre-std, serif;
    font-weight: 300;
    font-style: normal;
    animation: transform 2.5s ease;
    animation-fill-mode: forwards;
    font-size: 3em;
}

.hero h1,
.hero p {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    text-align: center;
    color: rgb(204, 204, 204);
}


/* PHOTO STYING */

.group-photo {
    border-radius: 50%;
    border: 3px solid rgb(41, 171, 226);
    transform: scale(0.8);
    padding: 1em;
}

.next-show {
    text-align: right;
}

h1.date {
    text-align: center;
    font-size: 8em;
}

h2.merch {
    text-align: right;
    margin-left: 1em;
}

img.bc-logo {
    padding-left: 1em;
    border-left: 2px solid rgba(41, 171, 226, 1);
}


/*  VIDEO */

.video-iframe {
    position: absolute;
    max-width: 560px;
}

@media (max-width: 767px) {
    .video-iframe {
        width: 90%;
    }
    .video-background {
        width: 85%;
    }
    h2.merch {
        text-align: left;
    }
    .rectangle {
        border: none;
    }
    .next-show {
        text-align: center;
        margin-bottom: 0;
    }
    h1.date {
        text-align: center;
        font-size: 5em;
        margin-top: 0;
    }
}

.video-background {
    height: 315px;
    max-width: 560px;
    outline: 2px solid rgba(41, 171, 226, 1);
    margin-left: 60px;
    margin-top: 75px;
}

.musings {
    margin-bottom: 5em;
    height: 315px;
    width: 80%;
    max-width: 560px;
    border: 2px solid rgba(41, 171, 226, 1);
}


/* PAGE ICON STYING */


/*  BRANCH STYLING  */

.branch-one {
    background-image: url(../img/branch-one1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    height: 50%;
    z-index: -1;
    top: -5%;
    left: -75%;
    width: 100%;
}

.branch-two {
    background-image: url(../img/branch-two.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    height: 50%;
    max-width: 1500px;
    z-index: -1;
    bottom: 20%;
    right: 0;
    width: 90%;
}

.branch-three {
    background-image: url(../img/branch-three.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index: -1;
    top: 57%;
    left: 0;
    width: 25%;
    height: 20%;
}

.branch-four {
    background-image: url(../img/branch-four.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    right: 0;
    height: 120%;
    z-index: -1;
    margin: auto;
    width: 22%;
    bottom: -9%;
}

.branch-five {
    background-image: url(../img/branch-five.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: -1;
    bottom: -76%;
    width: 60%;
}

.branch-six {
    background-image: url(../img/branch-six.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    right: 0;
    height: 120%;
    z-index: -1;
    top: 55%;
    width: 70%;
}

.branch-seven {
    background-image: url(../img/branch-seven.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    right: 0;
    height: 200%;
    z-index: -1;
    width: 28%;
    bottom: -68%;
}

.branch-eight {
    background-image: url(../img/branch-eight.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    left: 0;
    height: 10%;
    z-index: -1;
    width: 32%;
    bottom: 52%;
}


/* BRANCH STYLING FOR LARGE SCREENS */

@media (min-width: 1050px) {
    .branch-one {
        background-image: url(../img/branch-one.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        position: absolute;
        top: 0;
        left: -25%;
        width: 45%;
        height: 50%;
        z-index: -1;
    }
    .branch-two {
        background-image: url(../img/branch-two.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        height: 50%;
        max-width: 1500px;
        z-index: -1;
    }
    .branch-three {
        background-image: url(../img/branch-three.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top;
        position: absolute;
        top: 20%;
        left: 0;
        width: 60%;
        height: 100%;
        z-index: -1;
    }
    .branch-four {
        background-image: url(../img/branch-four.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        position: absolute;
        right: 0;
        bottom: -60%;
        width: 30%;
        height: 120%;
        z-index: -1;
        margin: auto;
    }
    .branch-five {
        background-image: url(../img/branch-five.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        position: absolute;
        left: 0;
        bottom: 55%;
        width: 40%;
        height: 60%;
        z-index: -1;
    }
    .branch-six {
        background-image: url(../img/branch-six.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        position: absolute;
        right: 0;
        top: 20%;
        width: 60%;
        height: 120%;
        z-index: -1;
    }
    .branch-seven {
        background-image: url(../img/branch-seven.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 45%;
        height: 165%;
        z-index: -1;
    }
    .branch-eight {
        background-image: url(../img/branch-eight.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom left;
        position: absolute;
        left: 0;
        bottom: 35%;
        width: 50%;
        height: 100%;
        z-index: -1;
    }
}

h1,
h2,
h3 {
    font-family: le-monde-livre-std, serif;
    font-weight: 300;
    font-style: normal;
}

h2.next {
    text-align: right;
    margin-top: 1em;
}


/* TOGGLE NAV */

@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
        max-width: 200px;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: transparent;
    }
    .toggle-nav .site-nav ul {
        display: block;
    }
}


/*  SUB PAGES */

article {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

article h1,
article h1+.subhead,
article .date {
    text-align: center;
}

article h2.subhead {
    font-size: 1.5em;
    line-height: 1.2;
}

article .subhead {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
}

article .date {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3em;
    margin-top: 3em;
}

article p+h1,
article p+h2,
article p+h3,
article p+h4,
article p+h5,
article p+h6 {
    margin-top: 1.5em;
}

article p:first-of-type:first-letter {
    font-size: 3em;
    line-height: 1em;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.3em;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.2em 0.3em 0.1em 0.3em;
    margin-right: 0.2em;
    float: left;
}

blockquote h6 {
    text-align: right;
    margin-right: 3em;
    font-weight: normal;
}


/* article p:first-of-type {
    font-size: 1.4em;
    line-height: 1.2;
} */


/*  FORMS */

form {
    max-width: 600px;
    margin: 6em auto;
    padding-top: 5em;
    padding-bottom: 2em;
}

form label,
form input,
form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

form label {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

form input,
form textarea {
    padding: 0.5em;
    color: rgba(0, 0, 0, 0.6);
}

form textarea {
    min-height: 10em;
    line-height: 1.5;
}

form input[type="submit"] {
    width: auto;
    margin-top: 1.5em;
}

form input[type="submit"] {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
}

form input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5em;
    transition: 250ms ease;
}


/*  CUSTOM SITE CSS */

.section-title {
    text-align: center;
    margin-bottom: 3em;
}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
    margin: 0.5em auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.site-header.sticky {
    position: fixed;
    width: 100%;
    background-color: rgba(13, 13, 13, 1);
}

.site-header.sticky+main {
    padding-top: 3em;
}


/*  BRANCH SCROLL ANIMATION */

.branch {
    opacity: 0.8;
    transition: 4s ease-out;
}

.branch-one {
    clip-path: circle(0 at 50%);
}

.branch-two {
    clip-path: circle(0 at 100%);
}

.branch-three {
    clip-path: circle(0 at 0 0);
}

.branch-four {
    clip-path: circle(0 at 100% 100%);
}

.branch-five {
    clip-path: circle(0 at 0 100%);
}

.branch-six {
    clip-path: circle(0 at 100% 10%);
}

.branch-seven {
    clip-path: circle(0 at 100% 100%);
}

.branch-eight {
    clip-path: circle(0 at 0 100%);
}

section[data-sectionstate="active"] .branch {
    opacity: 1;
    clip-path: circle(100%);
}

section[data-sectionstate="active"] .branch-one {
    transform: translateY(1em);
}

section[data-sectionstate="active"] .branch-two {
    transform: translateY(-1em);
}

section[data-sectionstate="active"] .branch-three {
    transform: translatey(1em);
}

section[data-sectionstate="active"] .branch-four {
    transform: translateY(-1em);
}

section[data-sectionstate="active"] .branch-five {
    transform: translateY(-1em);
}

section[data-sectionstate="active"] .branch-six {
    transform: translateY(1em);
}

section[data-sectionstate="active"] .branch-seven {
    transform: translateY(-2em);
}

section[data-sectionstate="active"] .branch-eight {
    transform: translateY(-0.5em);
}